<div class="home">
  <div class="container">
    <%= image_tag '764-3-entrance-hall-window.jpg' %>
    <h1>Luxury Home Development</h1>
    <h2>LHN Construction</h2>
  </div>
</div>
<div class="secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag '764-8-drawing-room.jpg' %>
      </div>
      <div class="col-sm-6" class="text">
        <p>
          MLA specialises in the construction of complex – and often unique – building projects on behalf of clients, skilfully interpreting the architect’s vision with creativity and flair to deliver each commission to the most exacting standards, programmes and budgets.
        </p>
        <p>
          Directors Martin Lee and Peter Morton engage from the earliest planning stages, drawing on their extensive experience to clarify ideas, refine design details and resolve practical problems as they arise.  The company’s accomplished core team is well-versed in the development of imaginative modernist structures through to the conversion of listed and historic buildings.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" class="text">
        <p>
          MLA specialises in the construction of complex – and often unique – building projects on behalf of clients, skilfully interpreting the architect’s vision with creativity and flair to deliver each commission to the most exacting standards, programmes and budgets.
        </p>
        <p>
          Directors Martin Lee and Peter Morton engage from the earliest planning stages, drawing on their extensive experience to clarify ideas, refine design details and resolve practical problems as they arise.  The company’s accomplished core team is well-versed in the development of imaginative modernist structures through to the conversion of listed and historic buildings.
        </p>
      </div>
      <div class="col-sm-6">
        <%= image_tag 'IMG_5660.JPG' %>
      </div>
    </div>
  </div>
</div>
