<div class="home">
  <div class="container">
    <h1>LHN Construction</h1>
    <h2>Luxury Home Development</h2>
  </div>
</div>
<div class="intro">
  <div class="container">
    <div class="introinternal">
      <p>
        <span>LHN</span> specialises in the construction of complex – and often unique – building projects on behalf of clients, skilfully interpreting the architect’s vision with creativity and flair to deliver each commission to the most exacting standards, programmes and budgets.
      </p>
      <p>
        Directors Martin Lee and Peter Morton engage from the earliest planning stages, drawing on their extensive experience to clarify ideas, refine design details and resolve practical problems as they arise.  The company’s accomplished core team is well-versed in the development of imaginative modernist structures through to the conversion of listed and historic buildings.
      </p>
      <p>
        Directors Martin Lee and Peter Morton engage from the earliest planning stages, drawing on their extensive experience to clarify ideas, refine design details and resolve practical problems as they arise.  The company’s accomplished core team is well-versed in the development of imaginative modernist structures through to the conversion of listed and historic buildings.
      </p>
    </div>
  </div>
</div>
<div class="secondary">
  <div class="container">
    <h1>Unique projects in a range of styles</h1>
  </div>
</div>
<div class="secondary">
  <div class="container">
    <h1>Attention to detail - second to none</h1>
  </div>
</div>
