<div class="projects">
  <div class="container">
    <h1>Projects</h1>
    <p>
      LHN has experience working on a number of different sites. Offering bespoke development for clients in and around London.
    </p>
  </div>
</div>
<div class="project-link">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to buckingham_path do %>
        <%= image_tag("764-19-garden2.jpg") %>
        <h3>Buckingham<br />Suite</h3>
        <% end %>
      </div>
      <div class="col-sm-1">
        <p>
        </p>
        <div id="separator">

        </div>
      </div>
      <div class="col-sm-7">
        <p>
          Lorem ipsum dolor sit amet, vix deleniti voluptua no, quot purto periculis pro ei. Alii tation repudiare ius an. Invenire conceptam at eum, debet placerat no eam. Eros labitur accusamus te eam. In duo antiopam definitionem.
        </p>
        <p>
          Te solum detraxit mel, graeco maiestatis mea eu. At est aperiri feugiat voluptatibus. Dolorem pertinax deterruisset ut duo, nobis aliquam mei ex. An his quod sint, at duo senserit referrentur. Vix te discere vulputate efficiantur, nec at case iracundia, ad ferri deserunt explicari his.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="project-link">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to portland_path do %>
        <%= image_tag("IMG_5651.JPG") %>
        <h3>Portland<br />Place</h3>
        <% end %>
      </div>
      <div class="col-sm-1">
        <p>
        </p>
        <div id="separator">

        </div>
      </div>
      <div class="col-sm-7">
        <p>
          Lorem ipsum dolor sit amet, vix deleniti voluptua no, quot purto periculis pro ei. Alii tation repudiare ius an. Invenire conceptam at eum, debet placerat no eam. Eros labitur accusamus te eam. In duo antiopam definitionem.
        </p>
        <p>
          Te solum detraxit mel, graeco maiestatis mea eu. At est aperiri feugiat voluptatibus. Dolorem pertinax deterruisset ut duo, nobis aliquam mei ex. An his quod sint, at duo senserit referrentur. Vix te discere vulputate efficiantur, nec at case iracundia, ad ferri deserunt explicari his.
        </p>
      </div>
    </div>
  </div>
</div>
